<div class="title">
    <h1>Акції</h1>
</div>

<div class="discounts">
    <div class="discount" *ngFor="let discount of discountArray">
        <div class="img">
            <a [routerLink]="[ '/discount', discount.id ]">
                <img [src]="discount.imagePath" alt="">
            </a>
        </div>
        <h5 [routerLink]="[ '/discount', discount.id ]">{{ discount.name }}</h5>
        <hr>
        <button [routerLink]="[ '/discount', discount.id ]">ДІЗНАТИСЯ БІЛЬШЕ</button>
    </div>
</div>


