<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" class="headerIcon" [routerLink]="[ '/' ]">
        <img src="../../../assets/images/headerLogo.svg" class="headerLogo" alt="">
      </a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 ml-3 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/discount' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/discount.svg" alt="">
              <span>Акції</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/rolls' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/rolls.svg" alt="">
              <span>Роли</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/sets' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/sets.svg" alt="">
              <span>Сети</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/drinks' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/drinks.svg" alt="">
              <span>Напої</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/souces' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/souces.svg" alt="">
              <span>Соуси</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../assets/images/dropdown.webp" alt="">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="[ '/delivery' ]" routerLinkActive="route-active">Доставка та
                  оплата</a></li>
              <li><a class="dropdown-item" [routerLink]="[ '/about' ]" routerLinkActive="route-active">Про нас</a></li>
              <li><a class="dropdown-item" [routerLink]="[ '/discount' ]" routerLinkActive="route-active">Акції</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="phone">
        <button (click)="openPhoneModal()">
          <img src="../../../assets/images/phone.svg" alt="">
          <span>Ми зателефонуємо</span>
        </button>
      </div>

      <div class="info">
        <a href="tel:+380938475152">(093)-847-51-52</a>
        <div class="infoDetails">
          Працюємо з <b>10:00</b> до <b>22:00</b>
        </div>
      </div>

      <div class="user" *ngIf="!isLogin">
        <img src="../../../assets/images/user.svg" alt="" (click)="openLoginDialog()"> 
      </div>
      <div class="user" *ngIf="isLogin">
        <img src="../../../assets/images/user.svg" alt="" [routerLink]="[ '/'+loginUrl ]" routerLinkActive="route-active"> 
      </div>


      <div class="basket" (click)="showBasket()">
        <img src="../../../assets/images/basket.svg" alt="">
        <span class="productQuantityInBasket">{{ productQuantityInBasket }}</span>
        <span>{{ total }} грн</span>
      </div>
    </div>
  </nav>
</header>


<div class="basketOpen" *ngIf="isBasketOpen">
  <div class="orderedProducts">
    <div class="basketEmpty" *ngIf="isBasketEmpty">
      <img src="../../../assets/images/cart-empty-img.svg" alt="">
      <p>Кошик порожній</p>
      <button [routerLink]="[ '/' ]" (click)="goToCatalogue()">Перейти до каталогу</button>
    </div>

    <div class="basketProduct" *ngFor="let b of basket; index as i">
      <div class="product">
        <a href="">
          <img [src]="b.imagePath" alt="">
        </a>
        <div class="productDescription">
          <p>{{ b.name }}</p>
          <div class="controlsProduct">
            <div class="productQuantity">
              <button (click)="productCount(b, false)" type="button" class="decrease">-</button>
              <input class="form-control" type="text" [value]="b.count">
              <button (click)="productCount(b, true)" type="button" class="increase">+</button>
            </div>
            <div class="productPrice">{{ b.price * b.count }} грн</div>
            <button class="trash" (click)="deleteBasketProduct(i)"><img src="../../../assets/images/trash.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="basketBottom">
    <p>Сума: {{ total }} грн</p>
    <button [disabled]="isBasketEmpty">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
  </div>
</div>