<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" class="headerIcon" [routerLink]="[ '/' ]">
        <img src="../../../assets/images/headerLogo.svg" class="headerLogo" alt="">
      </a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 ml-3 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/discount' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/discount.svg" alt="">
              <span>Акції</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/rolls' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/rolls.svg" alt="">
              <span>Роли</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/sets' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/sets.svg" alt="">
              <span>Сети</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/drinks' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/drinks.svg" alt="">
              <span>Напої</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/product/souces' ]"
              routerLinkActive="route-active">
              <img src="../../../assets/images/souces.svg" alt="">
              <span>Соуси</span>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../assets/images/dropdown.webp" alt="">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="[ '/delivery' ]" routerLinkActive="route-active">Доставка та
                  оплата</a></li>
              <li><a class="dropdown-item" [routerLink]="[ '/about' ]" routerLinkActive="route-active">Про нас</a></li>
              <li><a class="dropdown-item" [routerLink]="[ '/discount' ]" routerLinkActive="route-active">Акції</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="phone">
        <button>
          <img src="../../../assets/images/phone.svg" alt="">
          <span>Ми зателефонуємо</span>
        </button>
      </div>

      <div class="info">
        <a href="tel:+380938475152">(093)-847-51-52</a>
        <div class="infoDetails">
          Працюємо з <b>10:00</b> до <b>22:00</b>
        </div>
      </div>


      <div class="user" (click)="showEntranceModal()">
        <img src="../../../assets/images/user.svg" alt="">
      </div>

      <!-- <li class="nav-item" *ngIf="!isLogin">
        <a [routerLink]="[ '/auth' ]" routerLinkActive="route-active" class="nav-link" aria-current="page">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a [routerLink]="[ '/'+loginUrl ]" routerLinkActive="route-active" class="nav-link" aria-current="page">{{
          loginPage }}</a>
      </li> -->


      <div class="basket" (click)="showBasket()">
        <img src="../../../assets/images/basket.svg" alt="">
        <span>{{ total }} грн</span>
      </div>
    </div>
  </nav>
</header>

<div class="phoneModal">
  <div class="closePhoneModal">x</div>
  <h1>Ми зателефонуємо</h1>
  <h3>Залиште номер телефону і наші менеджери звяжуться з вами</h3>
  <form action="" class="form">
    <input class="name" type="text" placeholder="Ваше ім'я">
    <input class="number" type="number" placeholder="Ваш номер телефону">
    <button class="send">НАДІСЛАТИ</button>
  </form>
</div>


<div class="entrance" *ngIf="isEntranceModalShown">
  <div class="closeEntranceModal" (click)="closeEntranceModal()">x</div>
  <h1>Вхід в кабінет</h1>
  <form [formGroup] = "authForm" (ngSubmit) = 'login()'>
    <input formControlName="email" name="email" type="email" placeholder="*Ваш email" class="form-control">
    <input formControlName="password" name="password" type="password" placeholder="*Пароль">
    <button [disabled] = "authForm.invalid" type="submit">УВІЙТИ В КАБІНЕТ</button>
    <p>
      <span class="forgot" (click)="showForgetModal()">Забули пароль?</span>
      <span class="signIn" (click)="showSignInModal()">Зареєструватися</span>
    </p>
  </form>
</div>

<div class="forgetModal" *ngIf="isForgetModalShown">
  <div class="closeForgetModal" (click)="closeForgetModal()">x</div>
  <h1>Відновити пароль</h1>
  <h3>Після заповнення інструкції, ми надішлемо вам детальну інструкцію по відновленню паролю</h3>
  <form action="">
    <input type="email" placeholder="*Ваш email">
    <button>ВІДНОВИТИ ПАРОЛЬ</button>
  </form>
  <p>Повернутися до <b (click)="showEntranceModal()">Входу</b></p>
</div>

<div class="signInModal" *ngIf="isSignInModalShown">
  <div class="closesignInModal" (click)="closeSignInModal()">x</div>
  <h1>Зареєструватися</h1>
  <form action="">
    <div class="halfInput">
      <input type="text" class="name" placeholder="Ваше ім'я">
      <input type="text" class="surname" placeholder="Ваше прізвище">
    </div>
    <input type="text" class="phone" placeholder="Ваш телефон">
    <input type="email" class="email" placeholder="Ваш email">
    <div class="halfInput">
      <input type="password" class="password" placeholder="Пароль">
      <input type="password" class="repeatPassword" placeholder="Повторіть пароль">
    </div>

    <label for="checkbox">
      <input type="checkbox" class="checkbox">
      <span>Я погоджуюсь з <b>Правилами користування</b></span>
    </label>
    <button>ЗАРЕЄСТРУВАТИСЯ</button>
    <p>Вже зареєстровані?<b (click)="showEntranceModal()">Увійти</b></p>
  </form>
</div>


<div class="basketOpen" *ngIf="isBasketOpen">
  <div class="orderedProducts">
    <div class="basketEmpty" *ngIf="isBasketEmpty">
      <img src="../../../assets/images/cart-empty-img.svg" alt="">
      <p>Кошик порожній</p>
      <button [routerLink]="[ '/' ]" (click)="goToCatalogue()">Перейти до каталогу</button>
    </div>

    <div class="basketProduct" *ngFor="let b of basket">
      <div class="product">
        <a href="">
          <img [src]="b.imagePath" alt="">
        </a>
        <div class="productDescription">
          <p>{{ b.name }}</p>
          <div class="controlsProduct">
            <div class="productQuantity">
              <button (click)="productCount(b, false)" type="button" class="decrease">-</button>
              <input class="form-control" type="text" [value]="b.count">
              <button (click)="productCount(b, true)" type="button" class="increase">+</button>
            </div>
            <div class="productPrice">{{ b.price }} грн</div>
            <button class="trash"><img src="../../../assets/images/trash.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="basketBottom">
    <p>Сума: {{ total }} грн</p>
    <button [disabled]="isBasketEmpty">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
  </div>
</div>

