<footer>
    <div class="top">
        <div class="logo">
            <img src="../../../assets/images/headerLogo.svg" alt="">
        </div>

        <div class="items">
            <ul>
                <li><a href="">Акції</a></li>
                <li><a href="">Про нас</a></li>
                <li><a href="">Оферта</a></li>
            </ul>
        </div>

        <div class="info">
            <div class="delivery">
                <p class="title">Точки самовивозу</p>
                <p class="description">вул. Володимира Зеленського, 95</p>
            </div>

            <div class="phone">
                <p class="title">Оформити замовлення</p>
                <p class="description">(093) 847 51 52</p>
            </div>

            <div class="work">
                <p class="title">Графік роботи</p>
                <p class="description">працюємо з 10:00 до 22:00</p>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="copyright">
            <p>© 2023 Monosushi</p>
        </div>

        <div class="paycards">
            <div class="cardsItem">
                <img src="../../../assets/images/mastercard.svg" alt="">
            </div>
            <div class="cardsItem">
                <img src="../../../assets/images/visa.svg" alt="">
            </div>
            <div class="cardsItem">
                <img src="../../../assets/images/liqpay.svg" alt="">
            </div>
        </div>

        <div class="social">
            <p>Слідкуйте за нами</p>
            <div class="item">
                <img src="../../../assets/images/facebook-icon.svg" alt="">
            </div>
            <div class="item">
                <img src="../../../assets/images/inst.png" alt="">
            </div>
        </div>

        <div class="developer">
            <p>Oleksii Herasymchuk</p>
        </div>
    </div>
</footer>
