<div class="productTitle">
    <h1>Продукти</h1>
</div>
            
<div class="productMenu">
    <div class="menu">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="[ '/sets' ]" routerLinkActive="active">Всі</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Філадельфія</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Каліфорнія</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Запечені</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Фірмові</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Макі</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/sets' ]" routerLinkActive="active">Фірмові</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>

    <div class="products">

        <div class="product" *ngFor="let product of productsArray">
            <div class="productImage">
                <a [routerLink]="[ '/products/'+product.path, product.id ]"><img [src]="product.imagePath"
                        alt=""></a>
            </div>

            <div class="productTitle">
                <p [routerLink]="[ '/products/'+product.path, product.id ]">{{ product.name | titlecase}}</p>
            </div>

            <div class="productDescription">
                <p>{{ product.ingredients | titlecase }}</p>
                <p>{{ product.weight }} г</p>
            </div>

            <div class="productControls">
                <div class="productPrice">{{ product.price }} грн</div>
                <button class="order">ЗАМОВИТИ</button>
            </div>
        </div>
    </div>
</div>