<div class="container-fluid">
    <div class="d-flex align-items-start mt-5 ">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link" [routerLink]="[ 'discounts' ]" routerLinkActive="active"
            type="button">Акції</button>
            <button class="nav-link" [routerLink]="[ 'categories' ]" routerLinkActive="active"
                type="button">Категорії</button>
            <button class="nav-link" [routerLink]="[ 'products' ]" routerLinkActive="active"
                type="button">Товари</button>
            <button class="nav-link" [routerLink]="[ 'order' ]" routerLinkActive="active" type="button">Замовлення</button>
            <button class="exit" (click)="logout()">ВИХІД</button>
        </div>
       
        <div class="tab-content w-100" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
