.nav{
    margin-left: 15px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;

    .nav-link{
        color: #5a5a5a;
        border-top: 1px solid gainsboro;
        border-radius: 0px;
    }

    .active{
        background-color: white;
        border-top: 2px solid #b5d8f7;
    }

    .exit{
        width: 120px;
        border-radius: 7px;
        height: 40px;
        border: none;
        background-color: #b5d8f7;
        align-self: center;
        font-weight: bold;
        margin-top: 15px;
    }
}