<div class="breadcrumbNav">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="[ '/' ]" routerLinkActive="route-active">Головна</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="[ '/products/rolls' ]" routerLinkActive="route-active">{{ currentProduct.path }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ currentProduct.name | titlecase }}</li>
        </ol>
      </nav>
</div>


<div class="container">
    <div class="img">
        <img [src]="currentProduct.imagePath" class="img-fluid rounded-start" [alt]="currentProduct.name">
    </div>

    <div class="description">
        <h1>{{ currentProduct.name | titlecase }}</h1>
        <p class="ingredients"><b>Склад: </b> {{ currentProduct.ingredients | titlecase }} </p>
        <p class="weight"><b>Вага: </b> {{ currentProduct.weight }} гр</p>
        <div class="controls">
            <p class="price">
                {{ currentProduct.price * currentProduct.count }}
                грн
            </p>
            <div class="input">
                    <button (click)="productCount(currentProduct, false)" type="button" class="btn">-</button>
                    <input class="form-control" type="text" [value]="currentProduct.count" style="width: 40px;">
                    <button (click)="productCount(currentProduct, true)" type="button" class="btn">+</button>
            </div>
          
            <button (click)="addToBasket(currentProduct)">Замовити</button>
        </div>
    </div>
</div>