.entrance {
    width: 700px;
    height: 400px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 99;
    background-color: #fff;

    .closeEntranceModal {
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 300px;

        input {
            height: 50px;
            width: 100%;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 15px;
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #b5d8f7;
            border: none;
            border-radius: 7px;
        }

        button:hover {
            background-color: #fff;
            border: 2px solid #b5d8f7;
        }


        p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: bold;

            span:hover {
                color: #b5d8f7;
            }
        }


    }
}

.forgetModal {
    width: 700px;
    height: 400px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;

    h3 {
        width: 90%;
        color: gray;
        font-size: 22px;
        font-style: oblique;
    }

    .closeForgetModal {
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 300px;

        input {
            height: 50px;
            width: 100%;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 15px;
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #b5d8f7;
            border: none;
            border-radius: 7px;
        }

        button:hover {
            background-color: #fff;
            border: 2px solid #b5d8f7;

        }


    }

    a {
        text-decoration: none;
        color: black;
    }
}

.signInModal {
    width: 700px;
    height: 500px;
    border-radius: 7px;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 99;

    h1 {
        margin-top: 15px;
    }


    .closesignInModal {
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 400px;

        .name,
        .surname,
        .password,
        .repeatPassword {
            height: 50px;
            width: 49%;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 15px;
            margin-bottom: 5px;
        }

        .halfInput {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-left: 5px;
        }

        .phone,
        .email {
            height: 50px;
            width: 100%;
            border: 1px solid gainsboro;
            border-radius: 7px;
            padding-left: 15px;
            margin-bottom: 5px;
        }

        .checkbox {
            margin-right: 5px;
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #b5d8f7;
            border: none;
            border-radius: 7px;
        }

        button:hover {
            background-color: #fff;
            border: 2px solid #b5d8f7;

        }


    }

    a {
        text-decoration: none;
        color: black;
    }
}