<div class="wrapper">
    <!-- <p>Поки що ви не зробили жодного замовлення <span [routerLink]="[ '/' ]">перейти в каталог</span></p> -->

    <table>
        <thead>
            <td>№ замовлення</td>
            <td>Дата та час</td>
            <td>Адреса</td>
            <td>Сума</td>
            <td>Статус</td>
        </thead>
        <tbody>
            <tr class="head">
                <td>№ 1</td>
                <td>08.2022 18:47:25</td>
                <td>Самовивіз</td>
                <td><span>251</span> грн</td>
                <td>
                    <p class="done">виконано</p>
                    <p class="repeat">Повторити</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Запечений сет</td>
                <td>1</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Запечені моно макі з лососем</td>
                <td>1</td>
            </tr>

            <tr class="head">
                <td>№ 2</td>
                <td>08.2022 18:47:25</td>
                <td>Самовивіз</td>
                <td><span>251</span> грн</td>
                <td>
                    <p class="done">виконано</p>
                    <p class="repeat">Повторити</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Запечений сет</td>
                <td>1</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">Запечені моно макі з лососем</td>
                <td>1</td>
            </tr>


        </tbody>
    </table>
</div>