<div class="wrapper">
    <div class="contain">
        <div class="left">
            <p class="title">Ми - це доставка <span>щастя. Monosushi</span> - Ми любимо, коли тобі смачно.</p>
            <p class="description">Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скор овони будуть у тебе!</p>
            <button>ДЕТАЛЬНІШЕ</button>
        </div>
        <div class="right">
            <img src="../../../assets/images/homelogo.jpeg" alt="">
        </div>
    </div>

    <div class="info">
        <div class="items">
            <img src="../../../assets/images/homedelivery.svg" alt="">
            <p class="zones">ЗОНИ ДОСТАВКИ</p>
        </div>
        <div class="items">
            <img src="../../../assets/images/mono-supermen.svg" alt="">
            <p class="description">Середній час доставки в зеленій зоні <b>00:43:00</b></p>
        </div>
        <div class="items">
            <img src="../../../assets/images/mono-bonus.svg" alt="">
            <p class="description">Наш графік роботи. Працюємо з <b>10:00</b> до <b>22:00</b></p>
        </div>
    </div>
</div>
