<div class="wrapper">
    <div class="info">
        <div class="infoTitle">
            <div class="number">1</div>
            <div class="title">Особисті дані</div>
        </div>
   

        <form>
            <div class="names">
                <input type="text" placeholder="*Імя">
                <input type="text" placeholder="*Прізвище">
            </div>
            <input type="text" placeholder="*Телефон">
            <input type="text" placeholder="*Пошта">
        </form>
    </div>

    <div class="address">
        <div class="addressTitle">
            <div class="number">2</div>
            <div class="title">Адреси</div>

            <div class="AddressModal">

            </div>

        </div>


        <div class="buttons">
            <button class="addAddress" type="submit">Додати адресу</button>
            <button class="save" type="submit">Зберегти зміни</button>
        </div>


    </div>
</div>