<div class="title">
    <h1>Доставка та оплата</h1>
</div>

<div class="zones">
    <div class="greenZone">
        <div class="img">
            <img src="../../../assets/images/greenzone.svg" alt="">
        </div>
        <div class="text">
            <p class="greenZoneText">Зелена зона</p>
            <p class="greenZoneDescription">В межах зеленої зони доставляємо протягом <span>1 год.</span> Мінімальна
                сума замовлення в цю зону становить <span>200 грн.</span></p>
        </div>
    </div>

    <div class="yellowZone">
        <div class="img">
            <img src="../../../assets/images/greenzone.svg" alt="">
        </div>
        <div class="text">
            <p class="yellowZoneText">Жовта зона</p>
            <p class="yellowZoneDescription">В межах жовтої зони доставляємо протягом <span>1,5 год.</span> Мінімальна
                сума замовлення в цю зону становить <span>300 грн.</span></p>
        </div>
    </div>

</div>

<div class="map">
    <img src="../../../assets/images/map.png" alt="">
</div>

<div class="textPage">
    Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи
    забезпечує швидке і якісне виконання замовлень для наших гостей.
    <br>
    <br>
    Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.
    <br>
    Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту
    зону, яка знаходиться значно далі – до 1,5 год.
</div>

<div class="payment">
    <h2>Оплата</h2>
    <div class="paymentItems">
        <div class="paymentItem">
            <div class="img">
                <img src="../../../assets/images/cash.svg" alt="">
            </div>
            <div class="paymentItemDescription">
                <p class="title">Оплата готівкою</p>
                <p class="description">Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
            </div>
        </div>
        <div class="paymentItem">
            <div class="img">
                <img src="../../../assets/images/cashless.svg" alt="">
            </div>
            <div class="paymentItemDescription">
                <p class="title">Безготівкова оплата</p>
                <p class="description">Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні</p>
            </div>
        </div>
    </div>
</div>



<div class="textPage">
    Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.
    <br>
    <br>
    Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це
    оператора по телефону.
    <br>
    <br>
    Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня
    розвиваємось, щоб почути лише три слова «Моносуші – це любов».
</div>