<div class="wrapper">
    <div class="info">
        <div class="infoTitle">
            <div class="title">Зміна паролю</div>
        </div>
   
        <form>
            <input type="text" placeholder="*Ваш поточний пароль">
            <input type="text" placeholder="*Новий пароль">
            <input type="text" placeholder="*Повторіть пароль">
        </form>

        <div class="buttons">
            <button class="cancel" type="submit">Скасувати</button>
            <button class="save" type="submit">Зберегти зміни</button>
        </div>
    </div>
</div>